*
!./.gitignore

!services/
!services/*

!klipper/
!klipper/*.config

!klipper-upgrade.sh

!klipper_config/
!klipper_config/*
!klipper_config/*/*
klipper_config/.fluidd_console_history.json
klipper_config/printer-????????_??????.cfg

gcode_files/*
!gcode_files/
!gcode_files/.gitkeep

!moonraker.conf
!KlipperScreen.conf
telegram.conf
!webcam.txt
!nginx-site.conf
mooncord.json
