#####################################################################
#   Cartographer probe macros
#   Contains the below macros:
#   QUAD_GANTRY_LEVEL
#   BED_MESH_CALIBRATE (not used-disabled)
#   TAP_DATA
#####################################################################

## Fast QGL process using cartographer

[gcode_macro QUAD_GANTRY_LEVEL]
rename_existing: _QUAD_GANTRY_LEVEL
gcode:
    _CG28 # or use a conditional homing
    {% if not printer.quad_gantry_level.applied %}
       _QUAD_GANTRY_LEVEL HORIZONTAL_MOVE_Z=20 RETRY_TOLERANCE=0.500 PROBE_SPEED=15 LIFT_SPEED=10
    {% endif %}
    _QUAD_GANTRY_LEVEL horizontal_move_z=2


## Disable bed heater while probe is scanning

#[gcode_macro BED_MESH_CALIBRATE]
#rename_existing: _BED_MESH_CALIBRATE
#gcode:
#    {% set TARGET_TEMP = printer.heater_bed.target %}
#    M140 S0
#    _BED_MESH_CALIBRATE {rawparams}
#    M140 S{TARGET_TEMP}

[gcode_macro TAP_DATA]
gcode:
    G28
    G1 Z5 F1200
    M400 ; wait until motor movement finishes
    G4 P1000; wait a second so the printer doesn't shake
    CARTOGRAPHER_STREAM FILENAME=tapdata2mms.csv
    G1 Z-0.5 F120
    M400 ; wait until motor movement finishes
    G4 P1000; wait a second so the printer doesn't shake
    CARTOGRAPHER_STREAM FILENAME=tapdata2mms.csv
    G1 Z5 F1200
    G28
    G1 Z5 F1200
    M400 ; wait until motor movement finishes
    G4 P1000; wait a second so the printer doesn't shake
    CARTOGRAPHER_STREAM FILENAME=tapdata3mms.csv
    G1 Z-0.5 F200
    M400 ; wait until motor movement finishes
    G4 P1000; wait a second so the printer doesn't shake
    CARTOGRAPHER_STREAM FILENAME=tapdata3mms.csv
    G1 Z10 F800
            