[respond]
#####################################################################
#   Happy Hare includes
#####################################################################
[include mmu/base/*.cfg]
[include mmu/addons/mmu_eject_buttons.cfg]

#####################################################################
#   File locations and on error handling
#####################################################################

[virtual_sdcard]
path: /home/pi/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

 
#####################################################################
#   Printer mainboard and toolhead CAN ID's
#####################################################################
[mcu]
##	Spider v1
##	Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
##--------------------------------------------------------------------
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_38005C000751393038383735-if00
##--------------------------------------------------------------------

[mcu toolhead_mcu]
canbus_uuid=fbb962169897
canbus_interface: can0

[mcu rpi]
serial: /tmp/klipper_host_mcu

#####################################################################
#   Basic Klipper and Printer setup
#####################################################################

[printer]
kinematics: corexy
max_velocity: 300
max_accel: 7000  	
max_z_velocity: 30
max_z_accel: 350	
square_corner_velocity: 5.0
#minimum_cruise_ratio: 0.1

[exclude_object]
[print_stats]
[display_status]

[pause_resume]
recover_velocity: 300.0

[gcode_arcs]
resolution: 0.1

[idle_timeout]
timeout: 1800

[force_move]
enable_force_move: True

[save_variables]
filename: /home/pi/printer_data/config/.variables.stb

#####################################################################
#   Includes
#####################################################################

## Configuration files
# [include mainsail.cfg]
[include config/toolhead_leds.cfg]
[include config/extruder.cfg]
[include config/steppers.cfg]
[include config/temperature_sensors.cfg]
[include config/homing.cfg]
[include config/fans.cfg]
[include config/disco.cfg]
[include config/input_shaper.cfg]
[include config/skew_correction.cfg]

## Macros
[include macros/bedfans.cfg]
# [include macros/stealthmax_macros.cfg]
[include macros/movement_macros.cfg]
[include macros/LED_macros.cfg]
[include macros/printing_macros.cfg]
# [include macros/ig_printing_macros.cfg]
# [include macros/ig_print_start_end.cfg]

## Cartographer macro
[include macros/cartographer_macros.cfg]

## MMU Macros
# [include mmu/optional/client_macros.cfg]
# [include mmu/addons/blobifier.cfg]
# [include macros/custom_mmu_macros.cfg]
# [include 
# [include macros/emu_macros.cfg]

# [auto_speed]
# max_missed: 2
# margin: 50
# derate: 0.7

#####################################################################
#   Stepper current delayed gcode and notification infrastructure
#####################################################################

[gcode_macro MR_NOTIFY]
description: Allows you to send a custom notification via Mobileraker without using the M117 command
gcode:
    {% set msg = "MR_NOTIFY:" ~ (params.TITLE ~ "|" if 'TITLE' in params|upper else "") ~ params.MESSAGE %}

    {% if 'MESSAGE' in params|upper %}
        { action_respond_info(msg) }
    {% else %}
        { action_raise_error('Must provide MESSAGE parameter') }
    {% endif %}

[delayed_gcode INITIALISATION_MACROS] 
initial_duration: 3
gcode:
  M84
  REFRESH_SPOOLMAN
  update_git
  M400

[gcode_macro update_git]
gcode:
  RUN_SHELL_COMMAND CMD=update_git_script

[gcode_shell_command update_git_script]
command: bash -c "bash $HOME/klipper-backup/script.sh"
timeout: 500.0
verbose: False

## Timelapse
[include timelapse.cfg]
