#################################################
################### Disco Led ###################
#################################################
[neopixel chamber_leds]
pin: PD3
chain_count: 60
color_order: GRBW
