#####################################################################
# 	Extruder  Settings
#####################################################################

[extruder]
step_pin: toolhead_mcu: PB9
dir_pin: toolhead_mcu: PC15
enable_pin: !toolhead_mcu: PC14

# WWBMG - Bearing
rotation_distance: 22.59284 
#dual drive - rotation_distance: 22.83706 
gear_ratio: 50:8


microsteps: 16
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: toolhead_mcu: PB13

#Revo
sensor_type: PT1000                  # Temperature sensor type
sensor_pin: toolhead_mcu:PA3         # Sensor pin
pullup_resistor: 2200                # Pull-up resistor value
max_temp: 380
pressure_advance: 0.030

pressure_advance_smooth_time: 0.015
min_temp: 10

max_extrude_only_distance: 500
min_extrude_temp: 10

[tmc2209 extruder]
uart_pin: toolhead_mcu: PB6
interpolate: false
stealthchop_threshold: 0
# WWBMG
# Regular
run_current: 0.5
#PET CF
#run_current: 0.7