#####################################################################
# 	Fan Settings
#####################################################################
[fan]               # Part cooling Blowers
pin: PD3               # Fan pin 
kick_start_time: 0.4
shutdown_speed: 1.0
off_below: 0.04

[heater_fan hotend_fan]
pin: toolhead_mcu: PD2
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 40

tachometer_pin: toolhead_mcu:PA4

# [controller_fan _stepper_fan]
# pin: PF9
# max_power: 1
# fan_speed: 0.45
# idle_speed: 0.30
# idle_timeout: 120
# kick_start_time: 0.30
# heater: heater_bed, extruder
# stepper: stepper_x, stepper_y, stepper_z

# [controller_fan _cm5_fan]
# pin: PF7
# max_power: 1
# fan_speed: 1.0
# idle_speed: 1.0
# idle_timeout: 180
# kick_start_time: 1.0
# heater: heater_bed, extruder
# stepper: stepper_x, stepper_y, stepper_z

[fan_generic exhaust_fan]
#  Stealthmax
pin: PA6
hardware_pwm: true
tachometer_pin: PC2
tachometer_ppr: 2
max_power: 1.0
shutdown_speed: 1.0
kick_start_time: 1.0
off_below:0.10

[heater_generic heater_chamber]
heater_pin: PF6
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: PB0
control: pid
pid_Kp: 85.557
pid_Ki: 0.20 #0.07 #0.054 #0.034
pid_Kd: 100 #200 #250 #300 # 350 #44457.548
pwm_cycle_time: 0.3
min_temp: -273.15
max_temp: 80

[verify_heater heater_chamber]
max_error: 120
check_gain_time: 120
hysteresis: 50
heating_gain: 1

[gcode_macro SET_CHAMBER]
gcode:
  {% set chamber_target = params.CHAMBER_TEMP|default(0)|float %}
  SET_HEATER_TEMPERATURE heater=heater_chamber target={chamber_target}