#####################################################################
# 	Input Shaper Settings
#####################################################################

[adxl345]
cs_pin: rpi:None

#[adxl345]
#spi_bus: spi1
#cs_pin: toolhead_mcu: PA4
#spi_software_sclk_pin: toolhead_mcu: PA5
#spi_software_mosi_pin: toolhead_mcu: PA6
#spi_software_miso_pin: toolhead_mcu: PA7
#axes_map: x,y,z

[resonance_tester]
probe_points: 175, 175, 30
#accel_chip_z: adxl345
accel_chip: adxl345

# Sweeping
accel_per_hz: 90
max_freq: 200

# Pulse
#sweeping_period: 0.0
#accel_per_hz: 120
#max_freq: 200

# Z calibration
#accel_per_hz: 300

[shaketune]
result_folder: ~/printer_data/config/K-ShakeTune_results
number_of_results_to_keep: 5000
show_macros_in_webui: True
timeout: 1200

[input_shaper]
shaper_freq_x: 97.8 #center frequency for the X axis filter
shaper_type_x: ei # filter type for the X axis
damping_ratio_x: 0.044 # damping ratio for the X axis

shaper_freq_y: 70 # center frequency for the Y axis filter
shaper_type_y: ei # filter type for the Y axis
damping_ratio_y: 0.055 # damping ratio for the Y axis

shaper_freq_z: 100 # center frequency for the Z axis filter
shaper_type_z: 3hump_ei # filter type for the Z axis