[include sensorless.cfg]

# [autotune_tmc stepper_x]
# motor: ldo-42sth48-2504ah
# tuning_goal: performance
# sgt: 1
# PWM_FREQ_TARGET: 55e3
# extra_hysteresis: 1


# [autotune_tmc stepper_y]
# motor: ldo-42sth48-2504ah
# tuning_goal: performance
# sgt: 1
# PWM_FREQ_TARGET: 55e3
# extra_hysteresis: 1


# [autotune_tmc stepper_z]
# motor: moons-ms17hd6p4200
# tuning_goal: performance

# [autotune_tmc stepper_z1]
# motor: moons-ms17hd6p4200
# tuning_goal: performance

# [autotune_tmc stepper_z2]
# motor: moons-ms17hd6p4200
# tuning_goal: performance

# [autotune_tmc stepper_z3]
# motor: moons-ms17hd6p4200
# tuning_goal: performance

#####################################################################
# 	X/Y Stepper Settings
#####################################################################

## X Stepper on X-MOT (B Motor rear left)
[stepper_x]
step_pin: PE11
dir_pin: !PE10
enable_pin: !PE9
endstop_pin: ^PB14
rotation_distance: 40
microsteps: 16
full_steps_per_rotation:400  #set to 400 for 0.9 degree stepper
position_min: 0
position_endstop: 300
position_max: 300
homing_speed: 50       #Max 100
second_homing_speed: 25 # Default homing_speed / 2
homing_retract_dist: 5
homing_positive_dir: true

[tmc2209 stepper_x]
uart_pin: PE7
interpolate: true
run_current: 0.875
hold_current: 0.7
sense_resistor: 0.110
stealthchop_threshold: 0


## Y Stepper on Y-MOT (A Motor rear right)
[stepper_y]
step_pin: PD8
dir_pin: !PB12
enable_pin: !PD9
endstop_pin: ^PB13
rotation_distance: 40
microsteps: 16
full_steps_per_rotation:400  #set to 400 for 0.9 degree stepper
position_min: 0
position_endstop: 305
position_max: 306
homing_speed: 50  #Max 100
second_homing_speed: 25 # Default homing_speed / 2
homing_retract_dist: 5
homing_positive_dir: true

[tmc2209 stepper_y]
uart_pin: PE15
interpolate: true
run_current: 0.875
hold_current: 0.7
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
# 	Z Stepper Settings
#####################################################################

## In Z-MOT Position
## Z0 Stepper - Front Left
[stepper_z]
step_pin: PD14
dir_pin: !PD13
enable_pin: !PD15
#endstop_pin: ^PA0
rotation_distance: 40
gear_ratio: 6:1
microsteps: 16
##  Z-position of nozzle (in mm) to z-endstop trigger point relative to print surface (Z0)
##  (+) value = endstop above Z0, (-) value = endstop below
##	Increasing position_endstop brings nozzle closer to the bed
##  After you run Z_ENDSTOP_CALIBRATE, position_endstop will be stored at the very end of your config
#position_endstop: 1.4

position_max: 230
position_min: -5
homing_speed: 16 # Max 25
second_homing_speed: 3

[tmc2209 stepper_z]
uart_pin: PD10
interpolate: true
run_current: 0.8
hold_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

##	In E1-MOT Position
##	Z1 Stepper - Rear Left
[stepper_z1]
step_pin: PE6
dir_pin: PC13
enable_pin: !PE5
rotation_distance: 40
gear_ratio: 6:1
microsteps: 16

[tmc2209 stepper_z1]
uart_pin: PC14
interpolate: true
run_current: 0.8
hold_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

##	In E2-MOT Position
##	Z2 Stepper - Rear Right
[stepper_z2]
step_pin: PE2
dir_pin: !PE4
enable_pin: !PE3
rotation_distance: 40
gear_ratio: 6:1
microsteps: 16

[tmc2209 stepper_z2]
uart_pin: PC15
interpolate: true
run_current: 0.8
hold_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

##	In E3-MOT Position
##	Z3 Stepper - Front Right
[stepper_z3]
step_pin: PD12
dir_pin: PC4
enable_pin: !PE8
rotation_distance: 40
gear_ratio: 6:1
microsteps: 16

[tmc2209 stepper_z3]
uart_pin: PA15
interpolate: true
run_current: 0.8
hold_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0