#####################################################################
# 	Fan Settings
#####################################################################
[fan]               # Part cooling Blowers
pin: toolhead_mcu: PD3               # Fan pin 
kick_start_time: 0.4
shutdown_speed: 1.0

[heater_fan hotend_fan]
pin: toolhead_mcu: PD2
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 40

tachometer_pin: toolhead_mcu:PA4

[heater_fan controller_fan1]
pin: PB6
kick_start_time: 0.5
heater: heater_bed
heater_temp: 45.0

[heater_fan controller_fan2]
pin: PB5
kick_start_time: 0.5
heater: heater_bed
heater_temp: 45.0

[fan_generic exhaust_fan]
#  Backpack filter fan
pin: PB7
# hardware_pwm: true
# tachometer_pin: PC2
# tachometer_ppr: 2
# max_power: 1.0
# shutdown_speed: 1.0
# kick_start_time: 1.0
# off_below:0.10

[fan_generic bed_fans]
pin: PB2
kick_start_time: 0.5

# [heater_generic heater_chamber]
# heater_pin: PF6
# sensor_type: ATC Semitec 104NT-4-R025H42G
# sensor_pin: PB0
# control: pid
# pid_Kp: 85.557
# pid_Ki: 0.20 #0.07 #0.054 #0.034
# pid_Kd: 100 #200 #250 #300 # 350 #44457.548
# pwm_cycle_time: 0.3
# min_temp: -273.15
# max_temp: 80

# [verify_heater heater_chamber]
# max_error: 120
# check_gain_time: 120
# hysteresis: 50
# heating_gain: 1

# [gcode_macro SET_CHAMBER]
# gcode:
#   {% set chamber_target = params.CHAMBER_TEMP|default(0)|float %}
#   SET_HEATER_TEMPERATURE heater=heater_chamber target={chamber_target}