#####################################################################
# 	Z Homing, QGL and Bed Mesh Settings
#####################################################################
[mcu cartographer]
canbus_uuid: 3631124b830a
canbus_interface: can0

[cartographer]
mcu: cartographer
x_offset: 0.0
y_offset: 22
verbose: yes # For extra output

[cartographer scan]
mesh_runs: 2

[cartographer touch]
samples: 5
max_samples: 20

#scanner_touch_z_offset: 0.100

[safe_z_home]
home_xy_position: 150,150 # Should be center of bed

#[axis_twist_compensation]

[quad_gantry_level]
gantry_corners:
	-60,-10
	360,370
points:
    50,25
	50,225
	250,225
	250,25
speed: 300
horizontal_move_z: 20
retries: 50
retry_tolerance: 0.0065
max_adjust: 15

[bed_mesh]
zero_reference_position: 150,150 
speed: 250
horizontal_move_z: 20

mesh_min: 30,30
mesh_max: 270,270
probe_count: 21,21
split_delta_z: .0125
mesh_pps: 0,0