#####################################################################
# 	Temperature Sensor Settings
#####################################################################

[heater_bed]
##	SSR Pin - In E1 OUT position
heater_pin: PC8
sensor_type: Generic 3950
sensor_pin: PC3
# Recommended max power is 0.4W / cm^2
# 30*30 * 0.4 = 360W
# Heater is 450W
# 450*0.8 = 360
max_power: 0.8
min_temp: 0
max_temp: 120
control: pid
pid_kp: 51.412
pid_ki: 1.349
pid_kd: 489.701

# [temperature_sensor chamber]
# sensor_type: Generic 3950
# sensor_pin: PC1
# min_temp: 0
# max_temp: 130

[temperature_sensor rpi]
sensor_type: temperature_host
min_temp: -40
max_temp: 85

# Toolhead board sensor next to TMC2209
[temperature_sensor toolhead_board]
sensor_type: Generic 3950
sensor_pin: toolhead_mcu:PA0
pullup_resistor: 2200
min_temp: 0
max_temp: 180

[temperature_sensor toolhead_mcu]
sensor_type: temperature_mcu
sensor_mcu: toolhead_mcu
min_temp: 0
max_temp: 150


# Stepper body thermistor
# [temperature_sensor stepper_body]
# sensor_type: Generic 3950
# sensor_pin: PC5
# min_temp: 0
# max_temp: 200

# Top chamber thermistor - stealthmax exhaust
#[temperature_sensor chamber_top]
#sensor_type: ATC Semitec 104NT-4-R025H42G
#sensor_pin: PA7
#min_temp: 0
#max_temp: 100

[temperature_sensor cartographer]
sensor_type: temperature_mcu
sensor_mcu: cartographer
min_temp: 5
max_temp: 150

# Combined chamber sensor
[temperature_sensor chamber]
sensor_type: temperature_combined
sensor_list: temperature_sensor toolhead_mcu, temperature_sensor toolhead_board, temperature_sensor cartographer
combination_method: mean
maximum_deviation: 999.9

