#####################################################################
#   Custom LED control macros
#   Contains the below macros:
#   NOZZLE_LED_ON
#   NOZZLE_LED_OFF
#   LED_ON (controlls all printer lighting)
#   LED_OFF (controlls all printer lighting)
#####################################################################

[gcode_macro NOZZLE_LED_ON]
gcode:
    SET_NOZZLE_LEDS_ON

[gcode_macro NOZZLE_LED_OFF]
gcode:
    SET_NOZZLE_LEDS_OFF

[gcode_macro LED_ON]
gcode:
    SET_LED LED=chamber_leds RED=1 GREEN=0.85 BLUE=0.73
    SET_NOZZLE_LEDS_ON

[gcode_macro LED_OFF]
gcode:
    SET_LED LED=chamber_leds RED=0 GREEN=0 BLUE=0
    SET_NOZZLE_LEDS_OFF