#####################################################################
#   Helper macros used in the print process
#   Contains the below macros:
#   M600
#   HEATSOAK
#   CANCEL_PRINT_IG (extension macro to be called from Happy Hare)
#####################################################################

[gcode_macro M600]
gcode:
    PAUSE

[gcode_macro HOME_QGL_Z]
gcode:
  SET_GCODE_OFFSET Z=0
  BED_MESH_CLEAR
  CLEAR_PAUSE

  G28
  G1 X175 Y310 Z40 F9000
  G28
  quad_gantry_level
  G28 Z
  G1 Z30 F1200 
  PARK
  CLEAN_NOZZLE
  G28 Z
  G1 Z5 F1200                                    
  M400                                           
  CARTOGRAPHER_TOUCH_HOME FUZZY=5                 
  G1 Z30 F1200                                    
  PARK 

[gcode_macro HEATSOAK]
gcode:
  SET_DISPLAY_TEXT MSG="Heatsoaking 58C..."  
  CANCEL_POST_COOLDOWN
  cancel_adaptive_exhaust
  
  SET_LED LED=chamber_leds RED=0.8 GREEN=0.35 BLUE=0
  NOZZLE_LED_ON
  M106 S255   # Turns on partcooling fan
  SET_CHAMBER CHAMBER_TEMP=58
  SET_FAN_SPEED FAN=exhaust_fan SPEED=1.0
  CLOSE_VENT
  M140 S115   # Sets the target temp for the bed
  _CG28
  G1 X175 Y300 Z100 F9000  # Goes to parking area
  M84
  SET_IDLE_TIMEOUT TIMEOUT=86400


[gcode_macro CANCEL_PRINT_IG]
gcode:
    # safe anti-stringing move coords
    {% set th = printer.toolhead %}
    {% set x_safe = th.position.x + 20 * (1 if th.axis_maximum.x - th.position.x > 20 else -1) %}
    {% set y_safe = th.position.y + 20 * (1 if th.axis_maximum.y - th.position.y > 20 else -1) %}
    {% set z_safe = [th.position.z + 10, th.axis_maximum.z]|min %}
    {% set bedtemp = printer.heater_bed.target %}
    
    _RESET_PRINTER_TO_KLIPPER_CONFIG

    TURN_OFF_HEATERS
    CANCEL_POST_COOLDOWN
    cancel_adaptive_exhaust
    SET_CHAMBER CHAMBER_TEMP=0
    
    M400                                     ; wait for buffer to clear
    G90                                      ; absolute positioning
    G0 X{x_safe} Y{y_safe} Z{z_safe} F20000  ; move nozzle to remove stringing
    G0 X175 Y330 F7200                       ; park nozzle at the rear for easy cleaning
    G90

    {% if z_safe < 100 %}                    ; check if current Z is below 100mm
      G1 Z100 F900                           ; raise Z up
    {% endif %}

    M400
    TIMELAPSE_TAKE_FRAME
    M400

    SET_LED LED=chamber_leds RED=0.4 GREEN=0.4 BLUE=0.4

    SET_GCODE_OFFSET Z=0
    BED_MESH_CLEAR
    M84                                      ; turn steppers off

    # Turn everything off
    M107                                     ; Part-cooling fan off
    SET_CHAMBER CHAMBER_TEMP=0               ; Bed fans off
    SET_FAN_SPEED FAN=exhaust_fan SPEED=0    ; Exhaust fan off
    OFF                                      ; Anything else that is on
    M400
    SET_DISPLAY_TEXT MSG="JOB cancelled"     ; Displays info
    status_off
  
    # Reset internal state if needed
    CLEAR_PAUSE
    SDCARD_RESET_FILE

[gcode_macro _RESET_PRINTER_TO_KLIPPER_CONFIG]
gcode:
    M400
    BED_MESH_CLEAR
    SET_GCODE_OFFSET Z=0
    M220 S100 ; reset speed factor override percentage
    M221 S100 ; reset extrude factor override percentage
    ; reset velocities
    SET_VELOCITY_LIMIT VELOCITY={ printer.configfile.settings['printer'].max_velocity|float } ACCEL={ printer.configfile.settings['printer'].max_accel|float } SQUARE_CORNER_VELOCITY={ printer.configfile.settings['printer'].square_corner_velocity|float }
    ; reset pressure advance
    SET_PRESSURE_ADVANCE EXTRUDER=extruder ADVANCE={ printer.configfile.settings['extruder'].pressure_advance|float } SMOOTH_TIME={ printer.configfile.settings['extruder'].pressure_advance_smooth_time|float }